BLURT_ACTIVE_KEY=<your_active_private_key>
BLURT_WITNESS_OWNER=<your_witness_account>
BLURT_GUARD_RPC_URL=https://rpc.beblurt.com
BLURT_WITNESS_URL=https://example.com/witness
BLURT_ACTIVE_WITNESS_SIGNING_KEY=<your_public_witness_signing_key>
BLURT_WITNESS_SAFE_MARGIN_SECONDS=45
# Optional when autodetection is not enough:
# BLURT_WITNESS_CONTAINER=<your_container_name>
